@page "/index"
@using Act08_MiHistoria.Components.Shared

<h3>Index</h3>

<!-- También se puede poner "Act08_MiHistoria.Components.Shared.EstadoSistema" para cada uno, en lugar de @using Act08_MiHistoria.Components.Shared-->
<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="100" />

@code {

}
