@page "/index"
@using Act08_MiHistoria.Components.Shared

<h3>Index</h3>

<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="100" />

@code {

}
