@page "/titulos-canciones"
@rendermode InteractiveServer


<div class="container">
    <h2>Titulos de Canciones</h2>

    <div class="d-flex align-items-center m-2 gap-2">
        <label for="txtTitulo" class="w-10">Título de la canción:</label>
        <input id="txtTitulo" class="form-control w-75" type="text" @bind="_tituloCancion" placeholder="Título de la canción" />
    </div>

    <button class"btn btn-primary mt-3" @onclick="Guardar">Guardar</button>

    <div id="lista" class="mt-3">
        <h3>Lista de canciones</h3>
        <!-- Aquí se mostrarán los títulos de las canciones guardados -->
    </div>

</div>

@code {
    private string _tituloCancion = "";
    private List<string> _titulosCanciones = new();

    private void Guardar()
    {
        // Guardado de la canción
        if (!string.IsNullOrWhiteSpace(_tituloCancion))
        {
            _titulosCanciones.Add(_tituloCancion);
            _tituloCancion = "";
        }
    }
        
    }

}
